.u-section-1 {
  min-height: 746px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/about.jpg");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 664px;
  }

  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -238px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 582px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1062px;
  margin: 20px auto 20px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-layout-cell-1 {
  min-height: 592px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  min-height: 592px;
  background-image: url("images/IMG_35592.JPG");
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 511px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 389px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 689px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 602px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 467px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 379px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 100vh;
}

.u-section-3 .u-gallery-1 {
  height: 1149px;
  grid-gap: 17px 17px;
  margin: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(34,47,62,0.8), rgba(34,47,62,0.8));
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(34,47,62,0.8), rgba(34,47,62,0.8));
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(34,47,62,0.8), rgba(34,47,62,0.8));
  padding: 20px;
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(34,47,62,0.8), rgba(34,47,62,0.8));
  padding: 20px;
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(34,47,62,0.8), rgba(34,47,62,0.8));
  padding: 20px;
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 0.5s;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(34,47,62,0.8), rgba(34,47,62,0.8));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 947px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -54px;
    height: 947px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1632px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -302px;
    height: 1632px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 4896px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -414px;
    height: 4896px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 3083px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -499px;
    height: 3083px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 250px;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 252px;
  min-width: 124px;
  margin: 60px auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 75px;
  }
}